<!DOCTYPE html>

<!-- Head -->

<%-  include('./partials/head.ejs') %>

<body style="overflow-x: hidden;">

  <%-  include('./partials/header.ejs') %>

    <!-- <header>
        <section id="set-address-container">
            <p id="set-address-text">Dirección de entrega: </p>
            <a id="set-address-link">Ingresar mi ubicación</a>
        </section>

        <section>
             <img id="logo-header" src="./images/el-diegote-logo.png">
        </section>
        
        <section id="search-container">
            <form id="search-bar-container">
            <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
            <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
         </form>
        </section>

        <section id="nav-header-container">
            <nav><ul>
                <li><a href="login"><i class=" fas fa-sign-in-alt"></i></a></li>
                <li><a href="shopping-cart"><i class=" fas fa-shopping-cart"></i></a></li>
             </ul></nav>
        </section>
    </header> -->

    <section class="banner">
        <img src="images/diego-banner.png" alt="Banner de ofertas">
    </section>

    <main>
        
        <section class="combos">
            <h3>MEGA OFERTAS</h3>
            <% products.forEach(product=>{if(product.category == 'MEGA-OFERTAS'){%>
                <a href="products/<%=product.id%>" class="text-link-div-question">
            <article>
                <img src=<%= product.image %> alt="muzzarella" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price"><%= product.price %></p>
                    <h4 class="description"><%= product.description %></h4>
                </div>
            </article></a>
            <%}})%>
        </section>

        <section class="combos">
            <h3>COMBOS</h3>
            <% products.forEach(product=>{if(product.category == 'combos'){%>
            <article>
                <img src=<%= product.image %> alt="muzzarella" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price"><%= product.price %></p>
                    <h4 class="description"><%= product.description %></h4>
                </div>
            </article>
            <%}})%>
        </section>
    </main>

    <!-- Footer -->

    <%-  include('./partials/footer.ejs') %>

    <!-- <footer>
        <div>
            <section id="left-footer">
                <p id="copyright-footer">© 2021 Pizzería "El Diegote". Todos los derechos reservados.</p>
            </section>
    
            <section id="right-footer">
                <nav id="nav-social-media-footer"><ul>
                    <li><a href="#"><img class="social-media-logo" src="./images/whatsapp.png"></a></li>
                    <li><a href="#"><img class="social-media-logo" src="./images/facebook.png"></a></li>
                 </ul></nav>
            </section>
        </div>
    </footer> -->
</body>